html {
    font-family: Trebuchet MS, Arial, sans-serif;
    background-color: #d5d5d5;
}
body {
    width: 100%;
    margin:0 auto;
    /* TODO: min-height */
}
a {
    color: #000000;
    text-decoration: underline dotted;
    outline: 0;
}
a:hover {
    text-decoration: underline;
}

/*** PAGE CONTENT ***/
div.page-content {
    max-width: 80ch;
    padding: 2ch;
    margin: auto;
    color: #000000;
}
p {
    text-align: justify;
}
img.page-content {
    display: block;
    margin: auto;
    max-width: 100%;
}

/*** HEADER ***/
div#header {
    width:100%;
    color: #d5d5d5;
    background-color: #125E87;
    margin-bottom: 1.5rem;
    display: flex;
}
a.header {
    color: #d5d5d5;
    text-decoration: none;
}
/*** NAVIGATION BAR ***/
.flex-container {
    display: flex;
}
div#nav-logo {
    height: 55px;
    padding-right: 25px;
}
div#navbar {
    height: 55px;
    margin: 0 auto;
}
div.nav-box {
    padding-top: 17px;
    padding-right: 19px;
    padding-left:15px;
    height: 100%;
    box-sizing: border-box;
    /* TODO: max-height */
}
div.nav-box:hover {
    background: rgba(0, 0, 0, 0.17) !important;
    border-bottom: 4px solid #d5d5d5;
}

/*** FOOTER ***/
div#footer {
    width:100%;
    background-color: #125E87;
    margin-top: 1.5rem;
    height: 30px;
    display: flex;
}
div#find-me {
    height: 30px;
    text-align: center;
    margin: 0 auto;
}
a.footer {
    color: #d5d5d5;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
a.footer:hover {
    text-decoration: underline;
}
